body {
    background-color : saddlebrown;
}

.questionAnswer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color : ghostwhite;
    font-size: 5em;
    padding : 5px;
}

#question {
    background-color : darkorange;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#answer {
    background-color : sandybrown;
    border-bradius: 25px;
    border-bottom-right-radius: 25px;
}

#answerText {
    visibility : hidden;
}

p {
    margin: 0;
}

h1 {
    text-align: center;
    width : 100%;
}

.linkContainer {
    width: 100%;
    text-align: center;
}

a {
    color: yellow;
}

.answer {
    background-color : sandybrown;
    border-radius: 5px;
    padding : 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

.centered {
    background-color : sandybrown;
    border-radius: 5px;
    padding : 5px;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
