body {
    background-color : ghostwhite;
}

#mainContainer {
    position : relative;
    display : block;
    width : 30em;
}

#answersRow, #answersData {
    width : 30em;
    background-color : aqua;
    diplay : block;
}

.questions {
    position : absolute;
    top : 1em; left : 1em;
}

#submit {
    visibility : hidden;
}

#buttonContainer {
    position : relative;
    height : 1.4em;
}

.buttons {
    position : absolute;
    top : 0; left : 1em;
}